* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Font styles for header and paragraphs*/
body {
  color: #333;
  width: 80%;
  float: none;
  margin: auto;
  /* padding: 10px; */
  align-content: center;
}

.content {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #333;
  margin: auto;
  padding: 25px 50px 25px 50px ;
}

/*Sizes*/
section {
  display: inline-block;
  margin: 0 1.5%;
  width: 30%;
  align-content: center;
}

h1, .logo {
  color: #333;
  font-size: 1.75em;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

.blog-title {
  font-size: 1.5em;
}

button > h2 {
  font-weight: bold;
  font-size: 2em;
}

h5 {
  font-weight: bold;
  font-size: 1.5em;
}

p, ul, ol, li {font-size: 0.9em;}

.tip {font-style: italic;}

#fname, #question {
  font-size: 1em;
}

/* Logo */
.logo {
  color:#333;
  background-color: transparent;
  border: none;
}

/* Navbar style */
nav {
  display: block;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  align-content: center;
}

nav ul {
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
  align-items: center;
}

nav li {float: left;}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
  color: gold;
}

nav li .active {
  background-color: gold;
  color: black;
}

/*Blog Page style*/
.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
  flex: 10%;
}

.blog-list a {
  margin-bottom: 10px;
}

.card {
  margin-bottom: 10px;
}

.btn-link:hover {
  text-decoration: gold underline;
}

.btn-blog {
  background-color: #333;
  border: gold;
  color: gold;
  font-size: 0.85em;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn-blog:hover {
  cursor: pointer;
  background-color: gold;
  color: #333;
  transform: scale(1.03);
}

.btn-blog-toggle {
  float: right;
  margin: 10px;
}

.blog {
  display: flex;
  justify-content: space-between;
}

.blog-header {
  z-index: 1;
  background-color: #333;
}

.blog-title {
  background-color: #333;
  color: gold;
  padding: 10px;
  width: 100%;
}

.blog-info {
  display: flex;
  flex-direction: row;
}

.blog-date {
  flex: 1;
  order: 2;
  font-style: italic;
  margin-right: 10px;
}

.blog-nav {
  flex: 2;
  order: 1;
}

.blog-nav li {
  display: block;
  list-style-type: none;
  margin-left: 0px;
  padding: 4px;
}

.blog-nav a {color: #333;}

.blog-nav a:hover {color: gold;}

.blog-content {
  flex: 5;
  margin-right: 10px;
}

.blog-end a {
  color: gold;
  font-weight: bold;
}

/*Question form*/
.question-form {
  display: inline-block;
  width: 100%;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.btn-form:hover {
  cursor: pointer;
}

/* About us page  */
.mission {
  text-align: center;
  margin: 20px;
  padding-top: 35px;
  padding-bottom: 20px;
}

.staff {padding-top: 10px;}

.staff-member {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}

.staff-info {flex: 45%;}

.staff-photo {
  padding: 20px;
  animation: drop 1.5s ease;
}

/*Photo styling*/
img {max-width: 100%;}

#profile-photo {
  display: block;
  margin: auto;
  width: 80%;
  border-radius: 100px;
}

.org-media-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.org-logo {
  display: inline-block;
  width: 75%;
  margin: auto;
  align-content: center;
}

#ocr-example {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.ref {text-align: center;}

/*Footer*/
footer {
  background-color: #333;
  color: white;
  text-align: center;
  border: solid black 1px;
}

footer a {color: gold;}

footer a:hover {color: white;}

.copyright {font-size: 0.9em;}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@media screen and (max-width: 992px) {
  .content, .card-body, .blog {
    flex-direction: column;
  }

  .blog-list {
    align-items: center;
  }

  .blog-info {
    display: none;
  }

  .logo {
    font-size: 30px;
  }

  .blog-title {
    font-size: 1.5em;
  }

  .orgs {
    width: 100%;
  }

  .org-logo {
    width: 50%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  nav li {
    flex-direction: column;
    width: 100%;
  }

  .logo {
    font-size: 20px;
  }

  .blog-title {
    font-size: 1.5em;
  }
}
