{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}

    <table class="table table-hover">
        <caption>Portfolio of {{ user.username }}</caption>
        <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Company Name</th>
              <th scope="col">Shares</th>
              <th scope="col">Price</th>
              <th scope="col">TOTAL</th>
            </tr>
          </thead>
        <tbody>    
            {% for share in shares %}
            <tr>
                <th scope="row"> {{ share.symbol }} </th>
                <td> {{ share.company_name }} </td>
                <td> {{ share.num_shares }} </td>
                <td> {{  '${:,.2f}'.format(share.total_value / share.num_shares) }} </td>
                <td> {{  '${:,.2f}'.format(share.total_value) }} </td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row">Cash</th>
                <td></td>
                <td></td>
                <td></td>
                <td> {{ '${:,.2f}'.format(user.cash) }} </td>
            </tr>
            <tr>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
                <td>
                {% if (user.portfolio_value + user.cash) > user.starting_cash %}
                    <b style= color:green>{{ '${:,.2f}'.format(user.portfolio_value + user.cash) }}
                        (+{{ (100 * ((user.portfolio_value + user.cash) / user.starting_cash) - 100) }}%)
                    </b>
                {% elif (user.portfolio_value + user.cash) == user.starting_cash %}
                    <b>{{ '${:,.2f}'.format(user.portfolio_value + user.cash) }} (+0%) </b>
                {% else %}
                    <b style= color:red>{{ '${:,.2f}'.format(user.portfolio_value + user.cash) }} 
                        ({{ (100 * (user.portfolio_value + user.cash) / user.starting_cash) - 100 }}%)
                    </b>
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock main %}