{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}

    <table class="table table-hover">
        <caption>Portfolio of {{ user.username }}</caption>
        <thead>
            <tr>
              <th scope="col">Symbol</th>
              <th scope="col">Company Name</th>
              <th scope="col">Shares</th>
              <th scope="col">Share Price</th>
              <th scope="col">TOTAL</th>
            </tr>
          </thead>
        <tbody>
            {% for share in shares.items %}
                <tr data-toggle="collapse" data-target="#{{ share.id }}">
                    <th scope="row"> {{ share.symbol }} </th>
                    <td> {{ share.company_name }} </td>
                    <td> {{ share.num_shares }} </td>
                    <td> {{  '${:,.2f}'.format(share.total_value / share.num_shares) }} </td>
                    <td> {{  '${:,.2f}'.format(share.total_value) }} </td>
                </tr>
                <tr>
                    <div>
                        <td class="hidden-row" id="{{ share.id }}" colspan="5" style="vertical-align: middle;">
                            <div class="collapse">
                                {{ share.company_name}}
                                <div class="hidden-row-buttons">
                                    <a class="btn btn-sm btn-outline-success" role="button" aria-pressed="true"  type="button" data-toggle="modal" data-target="#buyModal"><b>Buy More!</b></a>
                                    <a class="btn btn-sm btn-outline-danger" role="button" aria-pressed="true"  type="button" data-toggle="modal" data-target="#sellModal"><b>Sell This Share</b></a>
                                </div>  
                            </div>
                            
                        </td>
                    </div>               
                </tr>
            {% endfor %}          
            <tr>
                <th scope="row">Cash</th>
                <td></td>
                <td></td>
                <td></td>
                <td> {{ '${:,.2f}'.format(user.cash) }} </td>
            </tr>
            <tr>
                <th></th>
                <td></td>
                <td></td>
                <td></td>
                <td>
                {% if (user.portfolio_value + user.cash) > user.starting_cash %}
                    <b style= color:green>{{ '${:,.2f}'.format(user.portfolio_value + user.cash) }}
                        (+{{ '{:.2f}'.format((100 * ((user.portfolio_value + user.cash) / user.starting_cash) - 100)) }}%)
                    </b>
                {% elif (user.portfolio_value + user.cash) == user.starting_cash %}
                    <b>{{ '${:,.2f}'.format(user.portfolio_value + user.cash) }} (+0%) </b>
                {% else %}
                    <b style= color:red>{{ '${:,.2f}'.format(user.portfolio_value + user.cash) }} 
                        ({{ '{:.2f}'.format((100 * ((user.portfolio_value + user.cash) / user.starting_cash) - 100)) }}%)
                    </b>
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    {% for page_num in shares.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if shares.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.index', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}

    <!-- Buy Modal -->
    <div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="buyModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="buyModalTitle">Buy More Shares</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you want to buy more of this stock?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form action="{{ url_for('main.index') }}" method="POST">
                        <button type="button" class="btn btn-success">Yes, Buy!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Sell Modal -->
    <div class="modal fade" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="sellModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sellModalTitle">Sell Shares</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to sell?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <form action="{{ url_for('main.index') }}" method="POST">
                        <button type="button" class="btn btn-danger">Yes, Sell!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}