{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block main %}

    {% if form %}
        <div class="content-section">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="form-group">
                        {{ form.symbol.label(class="form-control-label") }}

                        {% if form.symbol.errors %}
                            {{ form.symbol(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.symbol.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.symbol(class="form-control form-control-lg") }}
                        {% endif %}        
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    {% endif %}

    {% if stock %}
        A share of {{ stock['name'] }} ({{ stock['symbol'] }}) currently costs <b> ${{ stock['price'] }} </b>. <br>
        <a href="{{ url_for('transactions.buy', symbol=stock['symbol']) }}" class="btn btn-outline-success mt-4" role="button" aria-pressed="true">I Want This Share!</a>
        <a href="{{ url_for('main.quote') }}" class="btn btn-outline-dark mt-4" role="button" aria-pressed="true">Search Another Share</a>
    {% endif %}

{% endblock main %}